body{
    background-image: linear-gradient(rgb(127, 21, 213) , rgb(111, 9, 236));
    color: #fff;
}
#centro{
    margin: auto;
    background-color: #6c757d;
    padding: 2%;
    border-radius: 10px;
    align-content: center;
    text-align: center;
}
button{
    margin-top: 1%;
}
label{
    text-size-adjust: 100%;
}
input{
    margin-top: 1%;
}
#next{
    margin-top: 2%;
    text-align: center;
}