body {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #6c757d;
}

#avida {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color:#6c757d;
    height: 50%;
    width: 25%;
    border: none;
    border-radius: 60px;
    padding: 30px;
    color: white;
}

.quest {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px;
}

.question {
    font-weight: bold;
}

.options > input{
    margin: 15px 0;
}

.btn {
    margin-top: 30px;
    width: 80%;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #13152b;
}

@media  only screen and (max-width: 728px){
    .container{
        width: 75%;
    }
}

@media  only screen and (max-width: 1248px){
    .container{
        width: 50%;
    }
}