body{
  background-image: linear-gradient(rgb(127, 21, 213) , rgb(111, 9, 236))!important;
}
.carousel {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.carousel__images {
  display: flex;
  overflow: hidden;
}

.carousel__images img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.carousel__btn--prev {
  left: 10px;
}

.carousel__btn--next {
  right: 10px;
}
